[submodule "dataview/external/ParamBin"]
	path = external/ParamBin
	url = https://github.com/whalenpt/ParamBin.git
[submodule "dataview/external/pwutils"]
	path = external/pwutils
	url = https://github.com/whalenpt/pwutils.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
